{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content_name %}
    <h1>Login</h1>
{% endblock %}

{% block content %}
    <div class="col-9 d-flex justify-content-center mt-4 mb-4">
        <div class="card shadow-sm" style="width: 40rem;">
            <div class="card-body">
                <h5 class="text-danger">Incorrect password</h5>
                <form action="#" method="POST" class="d-flex flex-column gap-2">
                    <div class="input-group flex-nowrap flex-grow-1">
                        <span class="input-group-text bg-light d-flex align-items-start" id="login-label">Username</span>
                        <input type="text" class="form-control" placeholder="Your username" aria-label="Username" aria-describedby="login-label">
                    </div>
                    <div class="input-group flex-nowrap flex-grow-1">
                        <span class="input-group-text bg-light d-flex align-items-start" id="password-label">Password</span>
                        <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password-label">
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-success" type="submit">Login</button>
                        <a href="#" class="link-dark text-decoration-none">Create Account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}